
*{
    margin: 0;
}
body {
    text-align: center;
    overflow: hidden;
}

 #enterDetails {
    position: absolute;
    top: 13rem;
    left: 5rem;
    float: left; 
    width: 50%;
}
#stack h1{
font-size: 1.6rem;
font-weight: 300;
}

#find{
    background-color: rgba(94, 91, 255, 1);
    color: rgba(255, 255, 255, 1);
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
}

#findID{
   height: 25px;
}


#findDetails {
    position: absolute;
    /* float: left; */
    height: 100%;
     width: 100%; 
     
     /* background-image: linear-gradient(to right top, #262625, #424241, #61615f, #82817f, #a4a3a1); */
   background:rgba(217, 217, 217, 1) ;
   background-size: cover;
   background-blend-mode: multiply;

     justify-content: center;
}

#stack{ 
    position: absolute;
    height: 35%;
    width: 80%;
    top: 20%;
    left: 10%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
    padding-top: 100px;
    border-radius: 10px;
    background-color: rgba(255, 244, 244, 1);
}

.back{
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0;
    color: #bab8b8;
    text-shadow: 1px 1px 2px rgb(171, 167, 167);
}