*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (max-device-width: 480px){
header{
    height: 40vh;

}

.chad{
    position: absolute;
    height: 300px;
    width: 290px;
    top: 30px;
    left: -50px;
    z-index: -1;
}

footer{
    height: 50vh;
}

h1{
    font-size: 30px;
    position: absolute;
    top: 10%;
    right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.animation{
    height: 100vh;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    position: relative;
    overflow: hidden;

}

.anime{
    top: 70%;
    left: 0%; 
    position: absolute;
}

.animation span{
    width: 70%;
    height: 17%;
    position: absolute;
    top: 10%;
    left: 15%;
    background-color: whitesmoke;
    z-index: 0;
    border-radius: 10px;
}

.animation .yoga{
    top: 30%;
}

.animation .workout{
    top: 50%;
}

.animation .meditation{
    top: 70%;
}

h2{
    padding: 15px;
    font-size: large;
}

h5{
    padding-left: 20px;
}


.wrapper {
    margin-top: 100px;
max-height: 320px;
border: 1px solid #ddd;
display: flex;
overflow-x: auto;
}

.warpper::-webkit-scrollbar{
    width: 0;
}

 .one,.two,.three, .four,.five{
min-width: 210px;
height: 290px;
align-items: center;

margin-right: 30px;

}
.wrapper .one{
    background-image: url(one.png);
    background-size: cover;
 
}

.wrapper .two{
    background-image: url(two.jpg);
    background-size: cover;
}

.wrapper .three{
    background-image: url(three.jpg);
    background-size: cover;
}

.wrapper .four{
    background-image: url(four.jpg);
    background-size: cover;
}
.wrapper .five{
    background-image: url(five.jpg);
    background-size: cover;
}



}